/*BLOGPAGE*/

.blogs-section{
  margin-top: 200px;
  margin-bottom: 200px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.blog-body{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 30%;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  border: 2px solid #000000;
}

.blog-body img{
  width: 100%;
  height: 250px;
  border-radius: 10px;
  object-fit: cover;
}

.blog-body h3{
  font-size: 18px;
}

.blog-body p{
  font-size: 14px;
}

.link{
  font-weight: bolder;
  font-size: 20px;
  color: #ddb892;
}

.blog-statements{
  display: flex;
  flex-direction: column;
  padding: 10px;
}

@media only screen and (max-width:750px){
  .blogs-section{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .blog-body{
    width: 80%;
  }
}
