/*TOURS*/
.tours{
  margin-top: 200px;
  margin-bottom: 200px;
}

.tours h1{
  text-align: center;
  font-size: 25px;
  
}

.tours-card-section{
  width: 100%;
  margin-top: 50px;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.tour-card{
  width: 30%;
  background-color: rgb(255, 255, 255);
  border: 2px solid #000000;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.tour-card img{
  width: 100%;
  height: 250px;
  border-radius: 10px;
  object-fit: cover;
}

.tour-body{
  padding: 10px;
}

.tour-body h2{
  font-size: 20px;

}

.tour-body p{
  font-size: 20px;
  font-weight: bold;
}





.tour-body button{
  background-color: #ddb892;
  border: 2px solid #ddb892;
  width: 50%;
  border-radius: 10px;
  padding: 10px;
}





@media only screen and (max-width: 850px){
  .tours-card-section{
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  .tour-card{
    width: 80%;
  }

  .tour-price{
    display: flex;
    flex-direction: column;
  }
}



